.product-list-container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .select-container {
    flex: 0 0 calc(20% - 16px);
    margin-bottom: 20px;
    margin-top: 25px;
  }
  
  .select-container select {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    background-color: #2c3e50;
    border: none;
    font-size: 16px;
    color: white;
    outline: none;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .select-container select:hover {
    background-color: #5d81a4;
  }
  

  .select-container select:focus {
    background-color: #5d81a4;
  }

  .select-container select option {
    width: 100%;
    padding: 12px 16px;
    border-radius: 19px;
    background-color: #5d81a4;
    font-size: 16px;
    color: #333;
    opacity: 1;
  }
  

  .select-container select option:hover {
    background-color: #ccc;
  }
  

  .select-container select option:focus {
    background-color: #5d81a4;
  }
  
  
  @media screen and (max-width: 768px) {
    .select-container {
      flex-basis: calc(50% - 16px);
    }
  }
  