/* Container for sign-in page */
.sign-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Sign-in form */
  .sign-in-page form {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Sign-in text */
  .sign-in-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Label for inputs */
  .label-email,
  .label-password {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Input fields */
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Sign-in button */
  .sign-in-button,
  .sign-in-with-google-button {
    background-color: #34495e;
    color: #ffffff;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .sign-in-with-google-button{
    background-color: #dd4b39;
  }
  
  /* Alternative sign-in text */
  .alternative-sign-in {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Prompt text */
  .prompt {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  /* Bold text */
  .prompt b {
    font-weight: bold;
  }
  