.dashboard-title{
  width: 174px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 8px;
}
.dashboard-date{
  width:174px;
  margin:0;
  font-size: 16px;
  margin-bottom: 40px;
}
.dashboard-container {
  width: 900px; /* Set a fixed width */
}

.dashboard-wrapper {
  margin: 0;
  padding: 0;
}

.dashboard-user-container {
  max-width: 800px; /* Set a max-width to contain the content */
  height: 240px;
  background-color: #D9D9D9;
  border-radius: 16px;
  margin-left: 0px;
}

.dashboard-user-wrapper {
  padding: 40px;
}

.dashboard-user {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  margin:0px;
}

.dashboard-user-title {
  font-size: 18px;
}
.overview-text{
  font-size: 24px;
  font-weight: bold;
  width: 120px;
  margin-bottom: 24px;
  margin: 26px;
  margin-left: 0;
}