.settings-layout {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between; /* Distribute items evenly */
  margin-top: 2px;
  margin-left: 9px;
}

.heading {
  margin-bottom: 20px;
  margin-left: 10px;
}

.sub-heading {
  margin-left: 52px;
}

.layout-one {
  flex-basis: calc(50% - 10px); /* Adjust as needed to fit two items per row */
  height: 156px;
  padding: 15px;
  border-radius: 16px;
  background-color: #F0F0F0;
  color: black;
  margin-top: 16px;
}

