.product-listing-container {
    display: flex;
    flex-direction: column;
  }
  
  .product-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .search-input-wrapper {
    width: 344px;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  .user-title-wrapper {
    display: flex;
  }
  
  .user-title-name {
    margin-right: 5px;
  }
  
  .message-list-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
  }
  
  .message-list {
    flex: 1;
  }
  
  .chat-list {
    margin-left: 20px;
  }
  