
.product-listing-container {
  max-width: 100%; 
  width: 100%;
  margin: 0 auto; 
  padding: 0 20px; 
}

.product-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 20px; 
}


.product-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  max-width: 200px; /* Adjusted max-width */
  overflow: hidden; /* Prevent long titles from overflowing */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
  white-space: nowrap; /* Prevent wrapping */
}

/* Product Title Sub */
.product-title-sub {
  font-size: 16px;
  line-height: 1.4; /* Adjusted line height */
  font-family: Lato;
  color: #555;
  margin: 0;
}

/* Message Chat Container */
.message-chat-container {
  margin-top: 20px;
  border: 2px solid #2c3e50;
  border-radius: 10px;
  overflow: hidden;
}

/* Message Header */
.message-header {
  background-color: #2c3e50;
  padding: 10px 20px;
  border-bottom: 2px solid #ddd;
  color: white;
}

.message-body {
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
}


.message {
  padding: 12px 24px; 
  margin-bottom: 15px;
  border-radius: 27px;
  word-wrap: break-word;
}

.sent {
  background-color: #96d667;
  align-self: flex-end;
}

/* Received Message */
.received {
  background-color: #d1c3c3;
}

/* Message Input */
.message-input {
  display: flex;
  padding: 20px;
  border-top: 1px solid #ddd;
}

/* Message Input Textbox */
.message-input input {
  flex: 1;
  height: 48px;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid #2c3e50;
  font-size: 16px;
  outline: none;
}


.message-input button {
  height: 48px;
  padding: 0 24px; 
  border: none;
  border-radius: 24px;
  font-size: 16px;
  background-color: #2c3e50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}


.message-input button:hover {
  background-color: #0056b3;
}
