.product-list-container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select-container {
  flex: 0 0 calc(20% - 48px); /* Adjusted to include the gap */
  margin-bottom: 20px;
  margin-top: 25px;
}

.select-container select {
  width: 171px; /* Set width to 171px */
  height: 40px; /* Set height to 40px */
  padding: 8px 16px; /* Adjust padding */
  border-radius: 8px;
  background-color: #2c3e50;
  border: none;
  font-size: 16px;
  color: white;
  outline: none;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.select-container select:hover {
  background-color: #5d81a4;
}

.select-container select:focus {
  background-color: #5d81a4;
}

.select-container select option {
  width: 171px; /* Set width to match select element */
  padding: 8px 16px; /* Adjust padding */
  border-radius: 8px;
  background-color: #5d81a4;
  font-size: 16px;
  color: #333;
  opacity: 1;
}

.select-container select option:hover {
  background-color: #ccc;
}

.select-container select option:focus {
  background-color: #5d81a4;
}

@media screen and (max-width: 1080px) {
  .select-container {
    flex: 0 0 calc(33.33% - 48px); /* Adjust flex-basis to accommodate for smaller screen and the gap */
  }
}

@media screen and (max-width: 768px) {
  .select-container {
    flex-basis: calc(50% - 48px); /* Adjust flex-basis for smaller screens and the gap */
  }
}
