/* Dashboard Overview Container */
.dashboard-overview-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
}

/* Dashboard Overview Component */
.dashboard-overview-component {
  position: relative;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-bottom: 40px; /* Reduced margin for better spacing */
}

.dashboard-overview-component:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Value and Alt Text */
.value,
.alt {
  position: absolute;
  width: 100%;
  text-align: center; /* Center align text */
  font-size: 16px;
  color: #333;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.value {
  top: 20px; /* Adjusted top spacing */
}

.alt {
  bottom: 20px; /* Adjusted bottom spacing */
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .dashboard-overview-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .dashboard-overview-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
