.hero-container {
    background-image: url('https://images.pexels.com/photos/2889093/pexels-photo-2889093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .hero-title{
    color: rgb(252, 255, 252);
    padding-left: 150px;
    padding-top: 150px;
  }
  button{
    background-color: aquamarine;
    width:60px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
  }
  