.first-background {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  input[type="radio"] {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .logo {
    width: 105px;
    font-size: 20px;
    font-weight: bold;
    line-height: 56px;
    color: black;
    text-align: center;
  }
  
  .sign-up-button {
    width: 400px;
    height: 48px;
    border: 1px solid #323232;
    color: black;
    background-color: transparent;
    border-radius: 16px;
    padding: 0;
    opacity: 0;
  }
  
  /* Set minimum width for label elements */
  label {
    min-width: 108px;
  }
  