/* Categories Title */
.categories-title {
    width: 100%; /* Full width */
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: center; /* Center align text */
}

/* Categories Wrapper */
.categories-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 10px; /* Reduced gap for a more compact look */
    margin-top: 17px; /* Margin top for the categories */
    overflow-x: auto;
    overflow-y: hidden; /* Hide vertical overflow */
}

.categories-wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Opera */
}

/* Categories Container */
.categories-container {
    max-width: 100%; /* Ensure the carousel doesn't extend beyond the maximum width */
    width: 100%; /* Full width */
    margin: 0 auto; /* Center the carousel */
}

/* Categories */
.categories {
    margin: 0;
    padding: 20px; /* Add padding for better spacing */
    width: 160px;
    height: 232px;
    background-color: #D9D9D9;
    border-radius: 16px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box; /* Include padding in the width and height */
    transition: transform 0.3s ease; /* Smooth transition on hover */
    cursor: pointer; /* Add pointer cursor */
}

.categories:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

/* Categories Image */
.categories img {
    width: 64px; /* Adjusted width for images */
    height: 66px; /* Adjusted height for images */
}

/* Categories Text */
.categories p {
    width: 100%; /* Full width */
    height: 24px; /* Adjusted height for paragraphs */
    font-size: 16px; /* Adjusted font size */
    margin: 10px 0; /* Added margin for better spacing */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
}

/* Categories Button */
.categories button {
    width: 100%; /* Full width */
    height: 40px; 
    border-radius: 16px; 
    font-size: 16px;
    margin-top: 10px;
    padding: 12px 16px; /* Adjusted padding for better proportion */
    background-color: #B6B6B6;
    border: none;
}

/* Active Category */
.categories.active {
    border: 2px solid #2c3e50; /* Add border to indicate active category */
}
